# Ignore node_modules directory
node_modules/

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build outputs
dist/
build/

# Ignore local environment configuration files
.env

# Ignore cache and temporary files
.cache/
tmp/

# Ignore IDE or editor configuration files
.vscode/
.idea/
.DS_Store

# Ignore Expo and React Native-related intermediate files
.expo/
.expo-shared/
